@model EpsCiudadanosSANOS.Models.ViewModels.ConsultaViewModel
@{
    ViewBag.Title = "Añadir Consulta";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Add", "Consulta", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationMessage("error", new { @class = "text-danger" })

            @Html.LabelFor(d => d.Fecha)
            @Html.TextBoxFor(d => d.Fecha, new { @class = "form-control" })

            @Html.LabelFor(d => d.Motivo)
            @Html.TextBoxFor(d => d.Motivo, new { @class = "form-control" })

            @Html.LabelFor(d => d.NombreMedico)
            @Html.TextBoxFor(d => d.NombreMedico, new { @class = "form-control" })

            @Html.LabelFor(d => d.NombrePaciente)
            @Html.TextBoxFor(d => d.NombrePaciente, new { @class = "form-control" })

            <div style="text-align:right;">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>
        }

    </div>
</div>